  body{
    font: 15px/1.5 Helvetica,Arial,Verdana;
    padding:0;
    margin:0;
    background-color: #1a1a1a;
  }


  ul{
   margin: 0;
   padding: 0;
   color: orange;
 }

  .meniu{
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-left:10%;
  }

  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }


  .button_1{
    height:38px;
    background:orange;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
  }

  .box {
    float:left;
    width: 30%;
    margin: auto;
    overflow: hidden;
    color: #E67C7C;
    font-family: Arial, Helvetica, sans-serif;
  }

  .boxLight {
    float:left;
    width: 30%;
    margin: auto;
    overflow: hidden;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  .box h3:before{
    content:"*";
    color:gold;
  }

/*Header*/

/* "poza" de profil a userului*/
  header nav>ul>li>img {
    width: 2.3vw;
    height: 2.3vw;
    border-style: solid;
    border-width: 3px;
    border-color: #E67C7C;
    vertical-align: middle;
  }

  header{
    background: #1a1a1a;
    color:#E67C7C;
    padding-top: 1%;
    min-height: 70px;
    border-bottom: #E67C7C 3px solid;
  }


  header.light{
    background-color:white;
    color:#E67C7C;
    padding-top: 1%;
    min-height: 70px;
    border-bottom: #E67C7C 200px solid;
  }

  header a{
    color: #E67C7C;
    text-decoration: none;
    text-transform: uppercase;
    /*font-size: 15px;*/
  }

  header span{
    text-decoration: none;
    text-transform: uppercase;
  }

  header li{
    display: block;
    line-height: 2.5vw;
    float: left;
    margin: 15px 0 0 25px ;
  }

  header li:nth-of-type(5){
    background-color: #E67C7C;
  }

  header #branding{
    display:flex;
    float: left;
  }

  header #branding h1{
    margin: 0;
    font-weight: bold;
    font-family:Impact;
    font-size: 50px;
    padding-bottom:10px;
  }

  /*
  header #branding img {
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: #E67C7C;
    position: relative;
    top:0.6vh;
    margin-right: 0.5vw;
    animation: poza;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  */

  header nav{
    float: right;
    margin-top: 10px;
  }
  /*header .highlight,*/

  header .current a{
    color: #E67C7C;
    font-weight: bold;
    border-bottom: 2px solid #E67C7C;
    padding-bottom: 5px;

  }

  header a:hover{
    color:white;
  }

  header span:hover{
    color:white;
    cursor:pointer;
  }

  header .buton-tema{
    background: black;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:50px;
    position: relative;
    width: 60px;
    height:30px;
  }

  header .buton-temamobil{
    display:flex;
    align-items: center;
    justify-content: right;
    border-radius:50px;
    position: relative;
    width: 60px;
    height:30px;
  }

  header .switch-tema{
    position: absolute;
    opacity: 0;
  }

  header .cerc{
    position: absolute;
    background-color: #E67C7C;
    border-radius: 50%;
    right:3px;
    width: 25px;
    height:25px;
    transition: transform 0.3s linear;
  }

  header .switch-tema:checked + .buton-tema .cerc{
    transform: translateX(-27px);
  }

  header .fa-moon{
    color:#E67C7C;
    margin-right:13px;
  }

  header .fa-sun{
    color:#E67C7C;
  }

/*Prezentare*/


  #prezentare{
    min-height: 250px;
    background-image: url("../imagini/cinema.jpg") ;
    background-repeat:repeat;
    width: 100%;
    overflow:visible;
    text-align: center;
    color: #E67C7C;
  }

  #prezentare h2{
    margin-top: 10px;
    font-size: 55px;
    margin-bottom: 10px;
    font-family: Impact;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation: prezentare-h2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
  }

  #prezentare p{
    font-size: 20px;
    font-weight: bold;
    font-family: "Andale Mono", monospace;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation: prezentare-p;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay:0.5s;
    opacity: 0%;
    position: relative;
  }

  /*PREZENTARE LIGHT-MODE*/
  #prezentareLight{
    min-height: 250px;
    background-image: url("../imagini/bg4.jpg") ;
    background-repeat:repeat;
    width: 100%;
    overflow:visible;
    text-align: center;
    color: #E67C7C;
  }

  #prezentareLight h2{
    margin-top: 10px;
    font-size: 55px;
    margin-bottom: 10px;
    font-family: Impact;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation: prezentare-h2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
  }

  #prezentareLight p{
    font-size: 20px;
    font-weight: bold;
    font-family: "Andale Mono", monospace;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation: prezentare-p;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay:0.5s;
    opacity: 0%;
    position: relative;
  }
  /*Animatii*/

  @keyframes prezentare-h2 {
    0%   {top:-50px;opacity: 0%;}
    100% {top:20px;opacity: 100%;}
  }

  @keyframes prezentare-p {
    0%   {top:-55px;opacity: 0%;}
    100% {top:0px;opacity: 100%;}
  }


/*Newsletter*/

  #newsletter{
    padding: 10px;
    color:black;
    background:#E67C7C;
  }

  #newsletter h3{
    float:left;
  }

  #newsletter form{
    float:right;
    margin-top: 15px;
  }

  #newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
  }


/*Boxes*/

  #boxes{
    display:flex;
    flex-wrap:wrap;
    background-image: url("../imagini/cinema.jpg") ;
    background-repeat:repeat;
    padding-bottom:10%;
  }

  #boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
  }

  #boxes .box img{
    width: 15vw;
    height: 15vw;
  }

  /*BOXES LIGHT-MODE*/
  #boxesLight{
    display:flex;
    flex-wrap:wrap;
    background-image: url("../imagini/bg4.jpg") ;
    background-repeat:repeat;
    padding-bottom:10%;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
  }

  #boxesLight .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
  }

  #boxesLight .box img{
    width: 15vw;
    height: 15vw;
  }

/*Footer*/
  footer{
    padding: 7px;
    color: black;
    background-color: #E67C7C;
    background: linear-gradient(to bottom,#E67C7C ,#E67C7a );
    text-align: center;
  }

/*Program pe coloane*/
  .program {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-image: url("../imagini/cinema.jpg") ;
    background-repeat:repeat;
  }


  .program > div {
    background-color: #E67C7C;
    border-radius:10px;
    margin: 2%;
    padding:1%;
    font-size: 1vw;
    overflow:hidden;
  }

  .coloana{
    background-color: white;
    width:10vw;
    padding:1%;
  }

  .coloana h4{
    font-size:2vw;
    font-weight:bold;
    text-decoration: underline;
  }


  .programLight {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-image: url("../imagini/bg4.jpg") ;
    background-repeat:repeat;
  }
/*Meniu dropdown*/

  .butondropdown {
  display:none;
  }

  .dropdown {
  display:none;
  }

  .continut-meniu  {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 23%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }

  .continut-meniu div {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .continut-meniu  a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .continut-meniu  a:hover {
    background-color: #E67C7C;
    overflow:visible;
  }

  .continut-meniu  div:hover {
    background-color: #E67C7C;
    overflow:visible;
    cursor:pointer;
  }

  .dropdown:hover .continut-meniu {
  display: block;
  }

  .dropdown:hover .butondropdown {
  background-color:#E67C7C;
  }

  /*Oferta */

    #oferta{
      background-image: url("../imagini/cinema.jpg") ;
      background-repeat:repeat;
    }

    #ofertaLight{
      background-image: url("../imagini/bg4.jpg") ;
      background-repeat:repeat;
    }

    .film{
      float:left;
      width: 30%;
      margin: 1vw;
      padding-top:2vw;
      overflow: visible;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      position: relative;
    }

    .film img{
      width: 220px;
      height: 320px;
      border-radius:10px;
      filter:blur(0);
      transition: opacity 0.5s,filter 1s;
    }

    .film:hover img{
      opacity: 40%;
      filter:blur(2px);
    }

    .descriere-film{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    opacity: 0;
    transition: opacity 1s;
    }

    .film:hover :not(img){
      opacity:1;
    }

    /*Login*/

    #login form{
    }

    #login{
      display:flex;
      background-image: url("../imagini/cinema.jpg") ;
      background-repeat:repeat;
      align-items: center;
      justify-content: center;
      padding-bottom:10%;
    }

    label[for=nume]{
      font-size:50px;
      color:white;
    }

    label[for=parola]{
      font-size:50px;
      color:white;
    }

    #login input[type="nume"]{
      padding: 4px;
      height: 25px;
      width: 300px;
    }

    #login input[type="parola"]{
      padding: 4px;
      height: 25px;
      width: 300px;
    }

    .buton-login{
      height:38px;
      background:#E67C7C;
      margin-top:20px;
      padding-left: 20px;
      padding-right: 20px;
      color: black;
    }

    .buton-login:hover{
      opacity: 0.8;
    }

    input[type=nume]:focus {
      border: 2px solid #555;
    }
    input[type=p]:focus {
      border: 2px solid #555;
    }







    ::selection {
      color: white;
      background: #E67C7C;
    }

  @media all and (max-width:1000px){

    /*meniul devine dropdown*/

    nav ul{
      display:none;
    }

    /*------------------*/
    .dropdown {
    padding-right: 8vw;
    display:inline-block;
    float:left;
    overflow:hidden;
    }

    .butondropdown {
    display:inline-block;
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color:#E67C7C ;
    font-family: inherit;
    margin: 0;
    }


    #prezentare h2{
      margin-top: 10px;
      font-size: 55px;
      margin-bottom: 10px;
      font-family: Impact;
      text-transform: uppercase;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      animation: prezentare-h2mobil;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      position: relative;
    }

    #prezentare p{
      font-size: 20px;
      font-weight: bold;
      font-family: "Andale Mono", monospace;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      animation: prezentare-pmobil;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-delay:0.5s;
      opacity: 0%;
      position: relative;
    }

    #prezentareLight h2{
      animation: prezentare-h2mobil;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      position: relative;
    }

    #prezentareLight p{
      animation: prezentare-pmobil;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-delay:0.5s;
      opacity: 0%;
      position: relative;
    }

    /* Animatii MEDIA-QUERY */
    @keyframes prezentare-h2mobil {
      0%   {top:-25px;opacity: 0%;}
      100% {top:20px;opacity: 100%;}
    }

    @keyframes prezentare-pmobil {
      0%   {top:-50px;opacity: 0%;}
      100% {top:-15px;opacity: 100%;}
    }


    /*Boxes MEDIA-QUERY*/
    #boxes .box{
      width: 70%;
    }

    #boxes .box img{
      width: 30vw;
      height: 30vw;
    }

    /*Program MEDIA-QUERY*/
    .program {
      display: grid;
      grid-row-gap: 30px;

    }

    .program > div {
      background-color: #E67C7C;
      border-radius:15px;
      margin: 2%;
      padding:1%;
      font-size: 3vw;
      overflow:hidden;
    }

    .coloana{
      background-color: white;
      width:80vw;

    }

    .coloana h4{
      font-size:4vw;
      font-weight:bold;
      text-decoration: underline;
    }

    /*Oferta MEDIA-QUERY*/

    .container {
      display:grid;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: auto;
      overflow: visible;
    }


    .film{
      width: 100%;
      overflow: hidden;
      color: white;
      font-family: Arial;
      text-align: center;
      position: relative;
    }

    .film img{
      width: 60vw;
      height: 85vw;
    }

  }
